*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 1500px;
    transform: 0.5s ease all;
    font-family: "Poppins", sans-serif;
}
#section-1
{
    background-color: transparent !important;
    overflow-x: hidden;
}
#section-1 .contact-details span i
{
    color: #FFB03B;
}
#section-1 .contact-details
{
    transform: 0.5s all;
}
/* on dcroll for the contact-details*/
.contact-details-scrolled
{
   display:none !important;
   opacity: 0;
}
/* */
#section-1 nav {
    background-color: transparent;
    transition: 0.3s all;
}
nav::before
{
    position: relative;
}
.showBg::before
{
    position: absolute !important;
    content: "";
    left: 0;
    right: 0;
    bottom: 0; 
    top: 0;
    background-color:rgba(0, 0, 0, 0.9);
}
/* navbar on scroll class*/
.navbar-scrolled
{
    background-color: black !important;
}
.navbar-scroll
{
    border-bottom: 40px solid red;
}

#section-1 .nav-link
{
    color:white;
}
#section-1 .nav-link:hover
{
    color: #EEA53A  ;
}
#section-1 .nav-link.active
{
    color:#F0A73A;
}
#section-1 .contact-details
{
    display: flex; 
    gap: 25px;
    padding-top: 15px;
}
#section-1 nav .navbar-brand
{
    font-size: 28px;
}
#section-1 .book-table
{
    width: 140px;
    border-radius: 35px;
    display: flex;
    height:40px;
    font-weight: 500;
    color: white;
    justify-content: center;
    align-items:center;
    background-color: #FFB03B;
    text-decoration: none;
}
#section-1 .book-table:hover
{
    background-color: #FFA012;
}
 .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
 }
#section-1 .bg-img-1
{
    background-image: url(slide-1.jpg);
}
#section-1 .bg-img-2
{
    background-image: url(slide-2.jpg);
    background-position: center; 
}
#section-1 .bg-img-3
{
    background-image: url(slide-3.jpg);
    background-position: center; 
}
#section-1 .carousel-image 
{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
#section-1 .carousel-caption
{
    transform: translateY(-50%);
    width: 55%;
    margin: 0 auto;
    bottom: initial;
    top: 50%;
}
#section-1 .carousel-caption h1
{
    font-size: 48px;
    font-family: "Satisfy", cursive;
}
#section-1 .carousel-caption p
{
    font-size: 16px;
    padding-bottom: 13px;
}
#section-1 .carousel-caption .colored-text
{
    color: #ffb03b;
    font-family: "Satisfy", cursive;
}
#section-1 .carousel-caption span a
{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    padding: 9px 35px;
    color: white;
    transition: transform 0.4 ease all;
    height: 40px;
    border: 2px solid #ffb03b ;
    border-radius: 35px;
}
#section-1 .carousel-caption span a:hover
{
    border: 2px solid #FFB03B;
    background-color: #FFB03B;
}
#section-1 nav .navbar-brand
{
    font-family: "Satisfy", cursive;
}
.navbar-toggler{
    width: 32px;
    height: 20px;
    position: relative;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}
.navbar-toggler span{
    margin: 0;
    padding: 0;
}
.toggler-icon{
    display: block;
    position: absolute;
    height:3px;
    width:20px;
    border-radius: 2px;
  background-color:white;
    border-radius: 1px;
    opacity: 1 !important;
    left: -2px !important;
    transform: rotate(0deg);
}
.middle-bar{
    margin-top: 0px;
}

/*when navigation is clicked*/
.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0 !important;
    filter: alpha(opacity=0);
    left:60px;
    margin: 5px;
}
.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}

/*state when the navbar is collapse*/
.navbar-toggler.collapsed .top-bar{
    margin-top:-16px;
    transform: rotate(0deg);
    height:3px !important;
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1 !important;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 14px;
    transform: rotate(0deg);
    height:3px !important;
}
.navbar-toggler{
    transform: translateY(-60px);
}
.navbar-toggler.collapsed
{
    transform: translateY(0px);
}
/*navbar-toggler scroll class*/
.navbar-toggler-scrolled
{
    transform: initial;
}
#section-1 .carousel-control-next-icon,
#section-1 .carousel-control-prev-icon {
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5) !important;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-1 .carousel-control-next-icon:hover,
#section-1 .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
#section2
{
    padding: 60px 0;
    overflow-x: hidden;
}
#section2 h1
{
    font-size: 34px;
    font-family: "Satisfy", cursive;
    color: #5F5950;
}
#section2 .colored-text
{
    font-size: 15px;
    color: rgb(132, 132, 132);
}
#section2 span i
{
    font-size: 20px;
    color: #FFB03C;
}
#section2 video
{
    width: 280px;   
    height: 500px;
    border-radius:7%;
}
#section3 .btn
{
    border: none;
    outline: none;
    padding: 12px 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 35px;
    color:#948C81;
}
#myBtnWrapper .btn.active
{
    background-color: #FFB03B;
    color: white;
}

.filterDiv {
    display: none;
  }
  .show {
    display: block;
     transition:all 1s;
  }




















@media screen and (max-width:912px){
    /*#section-1 .navbar-collapse scroll class*/
    .navbar-collapse-scroll
    {
        top: initial !important;
    }
    #section-1 .navbar-collapse
    {
        top: -60px;
        position: relative;
        border-radius: 10px;
        padding-left: 20px;
        background-color:white !important;
    }
    #section-1 .nav-link
    {
        color:black;
        font-size: 15px;
        font-weight: 500;
    }
    #section-1 .navbar-collapse ul
    {
        padding: 20px 5px;
        height: 92.5vh;
    }
}





@media screen and (max-width:540px){
    /*#section-1 .navbar-collapse scroll class*/
    .navbar-collapse-scroll
    {
        top: initial !important;
    }
    #section-1 .navbar-collapse
    {
        top: -60px;
        position: relative;
        border-radius: 10px;
        padding-left: 20px;
        background-color:white !important;
    }
    #section-1 .navbar-collapse ul
    {
        padding: 20px 5px;
        height: 92.5vh;
    }
    #section-1 .nav-link
    {
        color:black;
        font-size: 15px;
        font-weight: 500;
    }
    #section-1 .carousel-caption h1
    {
        font-size: 28px;
    }   
    #section-1 .carousel-caption
    {
        width:initial;
    }
    #section-1 .carousel-caption p
    {
        font-size: 14px;
        font-weight:420;
    }
    #section-1 .carousel-caption span a
    {
        height:initial;
        font-size: 13px;
        font-weight: initial;
        padding: 9px 29px;
    }
}







































